.support-form {

    &__selection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__selection-items {
        display: inline-flex;

    }
}

span.support-form__selection-input {
    margin-left: 1rem;
}