.login {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &__username {
        margin-bottom: 1rem;
    }

    &__password {
        margin-bottom: 1rem;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
        border-radius: 4px;
        width: 100%;
        color: #fff;
    }
}