.service-scheduling {

&__section {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

&__card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

}
