.services-list {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-img {
    height: 120px;
}

.service-card {

    &:hover {
    }
}